@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Space Mono', monospace;
}